<%= link_to ("HOME"), "/admin", method: :get %>
<h1>SELECT WHICH TEAMS WON THE GAME</h1>
<h3>NOTE - THESE are NOT picks. These are the winning teams for the week</h3>

<br>

<h5>Hit SAVE before leaving, or else you will lose your new selections</h5>


<br>

<h2 class="center"> <%= name_wk(latest_wk(@pickcharts)).upcase %> (LATEST)</h2>
<%= render partial: "chart", locals: {pickcharts: @latest_charts} %>

<br>
<br>