/* line 5, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
table::after {
  color: pink;
}

/* line 9, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
table::before {
  color: blue;
}

/* line 13, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
#create_user_form {
  padding: 20px;
  background: #66a1ff;
  display: inline-block;
  height: 30px;
  color: #eee;
  text-shadow: black 0.1em 0.1em 0.2em;
}

/* line 22, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
span.user_form {
  margin: 10px;
}

/* line 26, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
#horiz_overflow {
  border: 3px solid #444;
  background: #aaa;
  /* previously tan */
  width: 95%;
  overflow-x: scroll;
  overflow-y: hidden;
  /* -webkit-overflow-scrolling: touch; */
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 10px;
}

/* line 38, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.admin_link_button {
  margin-left: 25px;
  font-size: 20px;
  letter-spacing: 3px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

/* line 47, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
#link_button {
  background-color: #1a72ff;
  width: 150px;
  /* margin-top: 10px; */
  padding: 35px, 10px, 35px, 10px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  letter-spacing: 3px;
  text-align: center;
  cursor: pointer;
}

/* line 61, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.vis_admin {
  background-color: #d8e7ff;
}

/* line 65, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.hom_admin {
  background-color: pink;
}

/* line 69, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.nil_admin {
  /* text-align: center; */
  background-color: #BBB;
}

/* line 74, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
section.column {
  display: inline;
  background-color: green;
}

/* line 79, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
form#new_pick {
  display: inline-block;
}

/* line 83, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.index_pick {
  margin: 3px 30px 3px 3px;
  border: 2px solid #444;
  display: inline-block;
  width: 180px;
}

/* line 90, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.zedpick {
  border: 2px solid white;
  background: #fff;
  text-align: center;
}

/* #overflow_box {
	background-color: green;
	display: block;
} */
/* line 102, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
div.boxxy {
  margin-top: 15px;
  margin-bottom: 45px;
  margin-left: 50px;
  height: 30px;
  width: 80px;
  margin-left: 50px;
  display: inline-block;
  border: 2px solid #333;
}

/* line 113, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
div.texty {
  margin-bottom: 45px;
  padding-top: 20px;
  /*height: 30px;*/
  width: 100px;
  display: inline-block;
  vertical-align: top;
}

/* line 125, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
#master_wk {
  font-size: 20pt;
  letter-spacing: 0.7pt;
  font-weight: bold;
}

/* line 135, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
h1 {
  font-size: 26px;
}

/* line 139, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
h2 {
  font-size: 22px;
}

/* line 143, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
h3 {
  font-size: 18.7px;
}

/* line 147, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
h4 {
  font-size: 16px;
}

/* line 151, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
h5 {
  font-size: 13.3px;
}

/* line 155, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
h6 {
  font-size: 10.7px;
}

/* line 159, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.alert {
  background-color: pink;
  padding: 5px;
  letter-spacing: 1px;
}

/* The Modal (background) */
/* line 166, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
/* line 181, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.modal-content {
  display: block;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* The Close Button */
/* line 208, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* line 215, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* line 222, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.modal-header {
  display: block;
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* line 229, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
div .modal-body {
  display: block;
  padding: 2px 16px;
}

/* line 234, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
div .modal-footer {
  display: block;
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* line 241, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
div #mymodal {
  display: block;
}

/* line 245, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
div #big_error {
  font-size: 16pt;
  background: pink;
  padding: 5px 10px 5px 10px;
}
/* Place all the styles related to the Chart controller here.
* They will automatically be included in application.css.
* You can use Sass (SCSS) here: http://sass-lang.com/
*/
/* line 7, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input.t_field {
  width: 30px;
}

/* line 11, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
div {
  display: inline;
}

/* line 15, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.pick_hide {
  color: red;
  display: none;
}

/* line 20, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.clicky {
  cursor: pointer;
  background-color: #CCC;
}

/* line 25, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.pc_hide {
  color: blue;
  cursor: pointer;
}

/* line 30, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
td input[type="radio"] {
  background-color: orange;
  border-color: red;
}

/* line 35, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
td input:checked {
  background-color: #A1EFB4;
}

/* line 39, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
td input[disabled] {
  display: none;
}

/* line 43, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
#minimum_width {
  min-width: 1050px;
  max-width: 1050px;
  min-height: 1px;
  display: block;
}

/* line 50, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart_picks tr:nth-child(even) {
  background: #d5ecef;
}

/* line 54, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart_picks tr:nth-child(odd) {
  background: #e8edf6;
}

/* line 58, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart_picks tr:nth-child(1) {
  background: #d5ecef;
}

/* .new_chart_picks tr:nth-last-child(1){
	background: red;
} */
/* line 66, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart {
  margin-left: 25px;
  /* margin-right: auto; */
  width: 1050px;
}

/* line 72, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.old_chart {
  margin-left: auto;
  margin-right: auto;
}

/* line 77, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart tr:nth-child(even) {
  background: #d5ecef;
}

/* line 81, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart tr:nth-child(odd) {
  background: #e8edf6;
}

/* line 85, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart tr:nth-child(1) {
  background: #d5ecef;
}

/* .new_chart tr:nth-last-child(1){
	background: red;
} */
/* placeholder brown  #663e00  */
/* line 95, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
::-webkit-input-placeholder {
  color: #AAA;
}

/* line 98, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input:focus::-webkit-input-placeholder {
  color: #fff6e7;
}

/* line 101, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
:-ms-input-placeholder {
  color: #AAA;
}

/* line 104, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input:focus:-ms-input-placeholder {
  color: #fff6e7;
}

/* line 107, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
::-moz-placeholder {
  color: #AAA;
}

/* line 110, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input:focus::-moz-placeholder {
  color: #fff6e7;
}

/* line 113, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
:-moz-placeholder {
  color: #AAA;
}

/* line 116, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input:focus:-moz-placeholder {
  color: #fff6e7;
}

/* line 120, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.wk > input {
  height: 30px;
  width: 58px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ffedd0;
  border: solid 2px #7f7059;
  font-size: 20px;
  color: #111;
}

/* line 131, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.wk > input:hover {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 137, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.wk > input:focus {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 143, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.teams > input {
  height: 30px;
  width: 190px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ffedd0;
  border: solid 2px #7f7059;
  font-size: 20px;
  color: #111;
}

/* line 154, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.teams > input:hover {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 160, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.teams > input:focus {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 166, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.rec > input {
  height: 30px;
  width: 92px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ffedd0;
  border: solid 2px #7f7059;
  font-size: 20px;
  color: #111;
}

/* line 177, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.rec > input:hover {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 183, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.rec > input:focus {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 189, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gametime > input {
  height: 30px;
  width: 170px;
  margin-right: 15px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ffedd0;
  border: solid 2px #7f7059;
  font-size: 20px;
  color: #111;
}

/* line 201, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gametime > input:hover {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 208, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gametime > input:focus {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 214, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.wk_header {
  width: 46px;
}

/* line 218, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.team_header {
  width: 155px;
}

/* line 222, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.rec_header {
  width: 75px;
}

/* line 226, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gametime_header {
  width: 126px;
}

/* line 230, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.blank_header {
  width: 50px;
  background: #eee;
}

/* line 235, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
section #new_pc {
  margin-top: -15px;
  margin-left: 30px;
  border: solid 5px #AAA;
  background: #AAA;
  width: 1050px;
  text-align: left;
}

/* line 244, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input[type=submit] {
  padding: 5px 15px;
  background: #eee;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #888;
}

/* line 254, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input[type=submit]:hover {
  padding: 5px 15px;
  background: #fff;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #666;
}

/* line 264, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.week_table {
  width: 41px;
  border: solid 2px white;
}

/* line 269, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.team_table {
  width: 175px;
  border: solid 2px white;
}

/* line 274, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.record {
  width: 79px;
  border: solid 2px white;
}

/* line 279, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gtime_table {
  width: 150px;
  border: solid 2px white;
}

/* line 284, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.old_chart {
  background-color: #ebefd6;
  /* #e0dfb2; */
  opacity: 0.9;
  color: #8b5d2e;
}

/* line 290, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.old_chart tr:nth-child(even) {
  background: #f6f1e8;
  /* #d6ebef; */
}

/* .dim {
	color: #555;
} */
/* line 298, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
h4.dimm {
  color: #555;
}

/* line 302, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.buttonGrey {
  color: #333;
  cursor: pointer;
}

/* line 307, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.game_text {
  display: table-cell;
}

/* line 311, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.game_form {
  display: none;
}

/* line 315, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.EDchart > input {
  font-size: 15px;
  max-width: 30px;
  max-height: 20px;
}

/* line 320, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.EDchart {
  background: #FF6666;
  padding: 10px 15px 10px 15px;
  border: 3px solid black;
}

/* line 326, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.EDteams > input {
  max-width: 140px;
}

/* line 329, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.EDgametime > input {
  max-width: 120px;
}

/* line 333, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
#pickchart_week {
  margin-left: 1px;
  margin-right: 1px;
  border: solid 2px #7f7059;
  background: #ffedd0;
  width: 63px;
  font-size: 20px;
  height: 33px;
}

/* line 343, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
span.confirm_password_space1 {
  width: 1%;
  height: 5px;
  display: inline-block;
}

/* line 349, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
span.confirm_password_space2 {
  width: 2%;
  height: 5px;
  display: inline-block;
}

/* line 355, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
label.confirm_pass {
  padding-right: 15%;
}

/* line 359, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input.submit_new_password {
  background: #BCED91;
}
/*input:checked{
	background-color: #A1EFB4
};*/
/* #no_scroll{  height: 100%;
  overflow: hidden;} */
/* line 5, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_row {
  color: black;
}

/* line 9, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_row td {
  border: 2px solid #222;
  padding: 2px 3px 2px 2px;
  /* top right bottom left */
  text-align: center;
}

/* line 15, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.gray {
  color: #777;
  background: #e5e5ff;
  text-align: center;
  font-style: italic;
  width: 117px;
}

/* line 23, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
#horiz_overflow_standing {
  /* border: 3px solid #444; */
  max-width: 90%;
  overflow-x: scroll;
  overflow-y: hidden;
  /* -webkit-overflow-scrolling: touch; */
  white-space: nowrap;
  display: inline-block;
}

/* line 33, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.vertical_wrapper {
  margin-right: 10px;
  height: 350px;
  width: 216px;
  /* even number necessary for smooth edge */
  display: inline-block;
  position: relative;
  /* border-right: 5px solid white; */
}

/* line 42, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.vertical {
  /* margin-right: 10px; */
  /* margin-left: 10px; */
  top: 55px;
  left: 0px;
  width: 216px;
  /* even number necessary for smooth edge */
  max-height: 250px;
  overflow-y: scroll;
  /* -webkit-overflow-scrolling: touch; */
  display: inline-block;
  background: #eee;
  position: absolute;
  /* padding: 0px 25px 0px 15px; */
  /* border: 10px solid white; */
}

/* line 58, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.fixed {
  /*margin-top: -430px;*/
  /* position: fixed; */
  height: 54px;
  width: 216px;
  /* even number necessary for smooth edge */
  top: 0px;
  /* or -4 */
  transform: translateX(-50%);
  background: linear-gradient(#fff, #ddd);
  display: inline-block;
  position: absolute;
  z-index: 99;
}

/* line 71, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.fixed2 {
  /* margin-top: -430px; */
  /* margin-left: -50px; */
  /* position: fixed; */
  height: 30px;
  width: 216px;
  /* even number necessary for smooth edge */
  bottom: 15px;
  transform: translateX(-50%);
  background: linear-gradient(#555, #999);
  display: inline-block;
  position: absolute;
  z-index: 99;
}

/* line 85, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.a_blank {
  height: 300px;
  width: 10px;
  /* padding: 0px 3px 0px 1px; */
  background: transparent;
  display: inline-block;
  z-index: 999;
  /* position: absolute; */
}

/* line 95, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
#vert_overflow {
  /* border: 3px solid #444; */
  max-height: 200px;
  /* margin-bottom: -5px; raises placement of TOTAL */
  /* width: 150%;  this needs to be flexible - via JS */
  /* based on the width of the header and footer*/
  overflow-y: scroll;
  /* -webkit-overflow-scrolling: touch; */
  white-space: nowrap;
  display: inline-block;
  /* margin-bottom: 10px;*/
}

/* line 108, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_table {
  display: inline-block;
  margin-left: 5px;
  margin-right: 7px;
}

/* line 114, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_header {
  display: inline-block;
  /* text-align: center; */
  margin-left: 10px;
  margin-right: 10px;
}

/* line 121, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_name {
  text-align: center;
}

/* line 125, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_footer {
  display: inline-block;
  margin-left: 13px;
  margin-right: 13px;
  margin-bottom: 15px;
  width: 180px;
  text-align: center;
}

/* line 134, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_winloss {
  display: block;
  padding-left: 1px;
  padding-right: 1px;
}

/* line 140, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.green {
  background: #b2e8b2;
  width: 22px;
}

/* line 145, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.red {
  background: #ffb2b2;
  width: 22px;
}

/* line 150, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.gray_tot {
  color: #333;
  background: #ddd;
  text-align: center;
  font-style: italic;
  width: 117px;
}

/* line 158, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.green_tot {
  background: #cce5cc;
  width: 22px;
}

/* line 163, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.red_tot {
  background: #ffcccc;
  width: 22px;
}

/* line 168, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.win {
  color: #4cb7b7;
}

/* line 180, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.pale {
  opacity: .3;
}

/* line 184, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.header_row th {
  /*text-align: center;*/
  font-size: 15pt;
  padding-bottom: 4px;
}

/* line 190, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.header_row {
  border: 2px solid #222;
  padding: 2px 3px 2px 2px;
  /* top right bottom left */
  text-align: center;
}

/* line 196, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.header_table {
  display: inline-block;
  /* margin-left: 9px; */
  /* margin-right: 7px; */
  /* border: 5px solid #999; */
}

/* line 203, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
td.win_loss_wk {
  /*border: 2px solid #222; */
  padding: 0px 0px 0px 0px;
  /* top right bottom left */
  width: 104px;
}

/* line 209, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
td.win_loss {
  /* border: 2px solid #222; */
  padding: 0px 0px 0px 0px;
  /* top right bottom left */
  width: 35px;
}

/* line 215, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
footer.scrolly {
  margin-bottom: 20px;
}
/* .asdf {
	display: none;
} */
/* line 10, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/users.scss.erb */
#save_button {
  background-color: #eee;
  margin-left: 60%;
}

/* line 15, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/users.scss.erb */
#save_button .link_button {
  background-color: #1e9699;
  width: 120px;
  height: 40px;
  font-size: 25px;
  color: #eee;
  letter-spacing: 3px;
  text-shadow: #333 0.1em 0.1em 0.1em;
}

/* line 25, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/users.scss.erb */
#save_button .link_button:hover {
  background-color: #197d7f;
  color: white;
}

/* line 30, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/users.scss.erb */
.user_new_picks {
  margin-bottom: -30px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 18, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
body {
  background-color: #eee;
  color: #222;
  font-family: sans-serif;
  min-width: 950px;
  max-width: 950px;
  min-height: 100px;
  display: block;
}

/* line 32, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
td {
  padding: 15px;
}

/* hidden is for visit home nil values for existing pick chart */
/* line 37, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.hidden {
  display: none;
}

/* line 41, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.hide {
  display: none;
}

/* line 45, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
input.login_email {
  height: 40px;
  font-size: 20px;
  padding-left: 5px;
  margin-bottom: 15px;
}

/* line 52, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
input.login_password {
  height: 40px;
  font-size: 20px;
  padding-left: 5px;
  margin-bottom: 15px;
}

/* line 59, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
input.login_button {
  height: 40px;
  width: 100px;
  background-color: #329932;
  font-size: 20px;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  text-shadow: #333 0.1em 0.1em 0.1em;
}

/* line 70, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
input.login_pass_button {
  height: 40px;
  width: 130px;
  background-color: #777;
  /* #32998B blue green */
  font-size: 20px;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  text-shadow: #333 0.1em 0.1em 0.1em;
}

/* line 81, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.header {
  /* display: inline-block; */
}

/* line 85, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.ctr {
  text-align: center;
}

/* line 89, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* line 94, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.right {
  position: absolute;
  top: 55px;
  right: 50px;
}

/* line 100, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.left {
  position: absolute;
  top: 40px;
  left: 50px;
}

/* line 106, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
#horiz_overflow .gray_link {
  margin: 90px;
  /* NOTE: week with two picks has 182px height -- 90 is half */
}

/* line 110, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
#shaded_background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

/* line 120, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
#loading_gif {
  width: 90%;
  height: 75%;
  background: #D2E0E4;
  position: fixed;
  right: 5%;
  bottom: 5%;
  /* display: none; */
  border-radius: 15px;
}

/* line 131, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.loading {
  display: block;
  text-align: center;
  margin-top: 10%;
}

/* line 137, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.gray_link {
  color: #777;
  font-weight: light;
}

/* line 142, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.gray_link u {
  cursor: default;
}

/* line 146, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.pulse {
  margin-top: 10px;
  margin-right: 3%;
  margin-left: 3%;
  width: 10px;
  height: 10px;
  background-color: #749a02;
  border-radius: 5px;
  display: inline-block;
}

@-webkit-keyframes greenPulse {
  0% {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333;
  }
  20% {
    background-color: #91bd09;
    -webkit-box-shadow: 0 0 18px #91bd09;
  }
  30% {
    background-color: #91bd09;
    -webkit-box-shadow: 0 0 18px #91bd09;
  }
  100% {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333;
  }
}
/* line 174, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
div.pulse.green {
  top: 25px;
  left: 50px;
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes yellowPulse1 {
  0% {
    background-color: #333;
    -webkit-box-shadow: 0 0 3px #444;
  }
  10% {
    background-color: #ccc;
    -webkit-box-shadow: 0 0 6px #aaa;
  }
  20% {
    background-color: #ccc;
    -webkit-box-shadow: 0 0 6px #aaa;
  }
  30% {
    background-color: #333;
    -webkit-box-shadow: 0 0 3px #444;
  }
  to {
    background-color: #333;
    -webkit-box-shadow: 0 0 3px #444;
  }
}
/* line 203, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
div.pulse.yellow1 {
  -webkit-animation-name: yellowPulse1;
  -webkit-animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes yellowPulse2 {
  0% {
    background-color: #333;
    -webkit-box-shadow: 0 0 3px #444;
  }
  20% {
    background-color: #333;
    -webkit-box-shadow: 0 0 3px #444;
  }
  30% {
    background-color: #ccc;
    -webkit-box-shadow: 0 0 6px #aaa;
  }
  40% {
    background-color: #ccc;
    -webkit-box-shadow: 0 0 6px #aaa;
  }
  50% {
    background-color: #333;
    -webkit-box-shadow: 0 0 6px #aaa;
  }
  to {
    background-color: #333;
    -webkit-box-shadow: 0 0 3px #444;
  }
}
/* line 234, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
div.pulse.yellow2 {
  -webkit-animation-name: yellowPulse2;
  -webkit-animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes yellowPulse3 {
  0% {
    background-color: #333;
    -webkit-box-shadow: 0 0 3px #444;
  }
  40% {
    background-color: #333;
    -webkit-box-shadow: 0 0 3px #444;
  }
  50% {
    background-color: #ccc;
    -webkit-box-shadow: 0 0 6px #aaa;
  }
  60% {
    background-color: #ccc;
    -webkit-box-shadow: 0 0 6px #aaa;
  }
  70% {
    background-color: #333;
    -webkit-box-shadow: 0 0 3px #444;
  }
  to {
    background-color: #333;
    -webkit-box-shadow: 0 0 3px #444;
  }
}
/* line 265, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
div.pulse.yellow3 {
  -webkit-animation-name: yellowPulse3;
  -webkit-animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes yellowPulse4 {
  0% {
    background-color: #333;
    -webkit-box-shadow: 0 0 3px #444;
  }
  60% {
    background-color: #333;
    -webkit-box-shadow: 0 0 3px #444;
  }
  70% {
    background-color: #ccc;
    -webkit-box-shadow: 0 0 6px #aaa;
  }
  80% {
    background-color: #ccc;
    -webkit-box-shadow: 0 0 6px #aaa;
  }
  90% {
    background-color: #333;
    -webkit-box-shadow: 0 0 3px #444;
  }
  to {
    background-color: #333;
    -webkit-box-shadow: 0 0 3px #444;
  }
}
/* line 296, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
div.pulse.yellow4 {
  -webkit-animation-name: yellowPulse4;
  -webkit-animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes yellowPulse5 {
  0% {
    background-color: #ccc;
    -webkit-box-shadow: 0 0 6px #aaa;
  }
  10% {
    background-color: #333;
    -webkit-box-shadow: 0 0 3px #444;
  }
  80% {
    background-color: #333;
    -webkit-box-shadow: 0 0 3px #444;
  }
  90% {
    background-color: #ccc;
    -webkit-box-shadow: 0 0 6px #aaa;
  }
  100% {
    background-color: #ccc;
    -webkit-box-shadow: 0 0 6px #aaa;
  }
  to {
    background-color: #ccc;
    -webkit-box-shadow: 0 0 6px #aaa;
  }
}
/* line 327, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
div.pulse.yellow5 {
  -webkit-animation-name: yellowPulse5;
  -webkit-animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes redPulse {
  0%, 100% {
    background-color: #ccc;
    color: #777;
  }
  20% {
    background-color: #333;
    color: #eee;
  }
  40% {
    background-color: #ccc;
    color: #777;
  }
}
/* line 346, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
div.pulse.red {
  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

/* line 352, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
span.success {
  background: #B4EEB4;
  letter-spacing: 2px;
}
