/* line 5, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
table::after {
  color: pink;
}

/* line 9, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
table::before {
  color: blue;
}

/* line 13, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
#create_user_form {
  padding: 20px;
  background: #66a1ff;
  display: inline-block;
  height: 30px;
  color: #eee;
  text-shadow: black 0.1em 0.1em 0.2em;
}

/* line 22, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
span.user_form {
  margin: 10px;
}

/* line 26, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
#horiz_overflow {
  border: 3px solid #444;
  background: #aaa;
  /* previously tan */
  width: 95%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 10px;
}

/* line 37, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.admin_link_button {
  margin-left: 25px;
  font-size: 20px;
  letter-spacing: 3px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

/* line 46, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
#link_button {
  background-color: #1a72ff;
  width: 150px;
  /* margin-top: 10px; */
  padding: 35px, 10px, 35px, 10px;
  border-radius: 15px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  letter-spacing: 3px;
  text-align: center;
  cursor: pointer;
}

/* line 60, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.vis_admin {
  background-color: #d8e7ff;
}

/* line 64, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.hom_admin {
  background-color: pink;
}

/* line 68, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.nil_admin {
  /* text-align: center; */
  background-color: #BBB;
}

/* line 73, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
section.column {
  display: inline;
  background-color: green;
}

/* line 78, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
form#new_pick {
  display: inline-block;
}

/* line 82, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.index_pick {
  margin: 3px 30px 3px 3px;
  border: 2px solid #444;
  display: inline-block;
  width: 180px;
}

/* line 89, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
.zedpick {
  border: 2px solid white;
  background: #fff;
  text-align: center;
}

/* #overflow_box {
	background-color: green;
	display: block;
} */
/* line 101, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
div.boxxy {
  margin-top: 15px;
  margin-bottom: 45px;
  margin-left: 50px;
  height: 30px;
  width: 80px;
  margin-left: 50px;
  display: inline-block;
  border: 2px solid #333;
}

/* line 112, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
div.texty {
  margin-bottom: 45px;
  padding-top: 20px;
  /*height: 30px;*/
  width: 100px;
  display: inline-block;
  vertical-align: top;
}

/* line 124, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/admin.scss.erb */
#master_wk {
  font-size: 20pt;
  letter-spacing: 0.7pt;
  font-weight: bold;
}
/* Place all the styles related to the Chart controller here.
* They will automatically be included in application.css.
* You can use Sass (SCSS) here: http://sass-lang.com/
*/
/* line 7, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input.t_field {
  width: 30px;
}

/* line 11, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
div {
  display: inline;
}

/* line 15, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.pick_hide {
  color: red;
  display: none;
}

/* line 20, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.clicky {
  cursor: pointer;
  background-color: #CCC;
}

/* line 25, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.pc_hide {
  color: blue;
  cursor: pointer;
}

/* line 30, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
td input[type="radio"] {
  background-color: orange;
  border-color: red;
}

/* line 35, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
td input:checked {
  background-color: #A1EFB4;
}

/* line 39, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
td input[disabled] {
  display: none;
}

/* line 43, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart_picks tr:nth-child(even) {
  background: #d5ecef;
}

/* line 47, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart_picks tr:nth-child(odd) {
  background: #e8edf6;
}

/* line 51, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart_picks tr:nth-child(1) {
  background: #d5ecef;
}

/* .new_chart_picks tr:nth-last-child(1){
	background: red;
} */
/* line 59, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart {
  margin-left: auto;
  margin-right: auto;
}

/* line 64, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.old_chart {
  margin-left: auto;
  margin-right: auto;
}

/* line 69, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart tr:nth-child(even) {
  background: #d5ecef;
}

/* line 73, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart tr:nth-child(odd) {
  background: #e8edf6;
}

/* line 77, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart tr:nth-child(1) {
  background: #d5ecef;
}

/* .new_chart tr:nth-last-child(1){
	background: red;
} */
/* placeholder brown  #663e00  */
/* line 87, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
::-webkit-input-placeholder {
  color: #AAA;
}

/* line 90, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input:focus::-webkit-input-placeholder {
  color: #fff6e7;
}

/* line 93, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
:-ms-input-placeholder {
  color: #AAA;
}

/* line 96, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input:focus:-ms-input-placeholder {
  color: #fff6e7;
}

/* line 99, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
::-moz-placeholder {
  color: #AAA;
}

/* line 102, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input:focus::-moz-placeholder {
  color: #fff6e7;
}

/* line 105, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
:-moz-placeholder {
  color: #AAA;
}

/* line 108, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input:focus:-moz-placeholder {
  color: #fff6e7;
}

/* line 112, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.wk > input {
  height: 30px;
  width: 62px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ffedd0;
  border: solid 2px #7f7059;
  font-size: 20px;
  color: #111;
}

/* line 123, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.wk > input:hover {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 129, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.wk > input:focus {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 135, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.teams > input {
  height: 30px;
  width: 197px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ffedd0;
  border: solid 2px #7f7059;
  font-size: 20px;
  color: #111;
}

/* line 146, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.teams > input:hover {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 152, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.teams > input:focus {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 158, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.rec > input {
  height: 30px;
  width: 100px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ffedd0;
  border: solid 2px #7f7059;
  font-size: 20px;
  color: #111;
}

/* line 169, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.rec > input:hover {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 175, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.rec > input:focus {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 181, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gametime > input {
  height: 30px;
  width: 145px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ffedd0;
  border: solid 2px #7f7059;
  font-size: 20px;
  color: #111;
}

/* line 192, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gametime > input:hover {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 199, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gametime > input:focus {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 205, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.wk_header {
  width: 46px;
}

/* line 209, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.team_header {
  width: 179px;
}

/* line 213, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.rec_header {
  width: 83px;
}

/* line 217, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gametime_header {
  width: 126px;
}

/* line 221, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
section #new_pc {
  margin-top: -15px;
  margin-left: -50px;
  border: solid 5px #AAA;
  background: #AAA;
  display: inline-block;
}

/* line 229, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input[type=submit] {
  padding: 5px 15px;
  background: #eee;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #888;
}

/* line 239, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input[type=submit]:hover {
  padding: 5px 15px;
  background: #fff;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #666;
}

/* line 249, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.week_table {
  width: 41px;
  border: solid 2px white;
}

/* line 254, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.team_table {
  width: 175px;
  border: solid 2px white;
}

/* line 259, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.record {
  width: 79px;
  border: solid 2px white;
}

/* line 264, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gtime_table {
  width: 150px;
  border: solid 2px white;
}

/* line 269, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.old_chart {
  background-color: #ebefd6;
  /* #e0dfb2; */
  opacity: 0.9;
  color: #8b5d2e;
}

/* line 275, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.old_chart tr:nth-child(even) {
  background: #f6f1e8;
  /* #d6ebef; */
}

/* .dim {
	color: #555;
} */
/* line 283, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
h4.dimm {
  color: #555;
}

/* line 287, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.buttonGrey {
  color: #333;
  cursor: pointer;
}

/* line 292, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.game_text {
  display: table-cell;
}

/* line 296, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.game_form {
  display: none;
}

/* line 300, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.EDchart > input {
  font-size: 15px;
  max-width: 30px;
  max-height: 20px;
}

/* line 305, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.EDchart {
  background: #FF6666;
  padding: 10px 15px 10px 15px;
  border: 3px solid black;
}

/* line 311, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.EDteams > input {
  max-width: 140px;
}

/* line 314, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.EDgametime > input {
  max-width: 120px;
}
/*input:checked{
	background-color: #A1EFB4
};*/
/* line 1, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
#no_scroll {
  height: 100%;
  overflow: hidden;
}

/* line 4, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_row {
  color: black;
}

/* line 8, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_row td {
  border: 2px solid #222;
  padding: 2px 3px 2px 2px;
  /* top right bottom left */
  text-align: center;
}

/* line 14, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.gray {
  color: #777;
  background: #e5e5ff;
  text-align: center;
  font-style: italic;
  width: 117px;
}

/* line 22, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
#horiz_overflow_standing {
  /* border: 3px solid #444; */
  max-width: 90%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline-block;
}

/* line 31, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
#vert_overflow {
  /* border: 3px solid #444; */
  max-height: 200px;
  /* margin-bottom: -5px; raises placement of TOTAL */
  /* width: 150%;  this needs to be flexible - via JS */
  /* based on the width of the header and footer*/
  overflow-y: scroll;
  /* overflow-x: hidden; */
  white-space: nowrap;
  display: inline-block;
  /* margin-bottom: 10px;*/
}

/* line 45, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_table {
  display: inline-block;
  margin-left: 5px;
  margin-right: 7px;
}

/* line 51, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_header {
  display: inline-block;
  /* text-align: center; */
  margin-left: 10px;
  margin-right: 10px;
}

/* line 58, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_name {
  text-align: center;
}

/* line 62, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_footer {
  display: inline-block;
  margin-left: 13px;
  margin-right: 13px;
  margin-bottom: 15px;
  width: 180px;
  text-align: center;
}

/* line 71, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_winloss {
  display: block;
  padding-left: 1px;
  padding-right: 1px;
}

/* line 77, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.green {
  background: #b2e8b2;
  width: 22px;
}

/* line 82, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.red {
  background: #ffb2b2;
  width: 22px;
}

/* line 87, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.gray_tot {
  color: #333;
  background: #ddd;
  text-align: center;
  font-style: italic;
  width: 117px;
}

/* line 95, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.green_tot {
  background: #cce5cc;
  width: 22px;
}

/* line 100, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.red_tot {
  background: #ffcccc;
  width: 22px;
}

/* line 105, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.win {
  color: #4cb7b7;
}

/* line 117, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.pale {
  opacity: .3;
}

/* line 121, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.header_row th {
  /*text-align: center;*/
  font-size: 15pt;
  padding-bottom: 4px;
}

/* line 127, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.header_row {
  border: 2px solid #222;
  padding: 2px 3px 2px 2px;
  /* top right bottom left */
  text-align: center;
}

/* line 133, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.header_table {
  display: inline-block;
  margin-left: 9px;
  margin-right: 7px;
  border: 5px solid #999;
}

/* line 140, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
td.win_loss_wk {
  /*border: 2px solid #222; */
  padding: 0px 0px 0px 0px;
  /* top right bottom left */
  width: 104px;
}

/* line 146, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
td.win_loss {
  /* border: 2px solid #222; */
  padding: 0px 0px 0px 0px;
  /* top right bottom left */
  width: 35px;
}

/* line 152, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
footer.scrolly {
  margin-bottom: 20px;
}
/* .asdf {
	display: none;
} */
/* line 10, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/users.scss.erb */
#save_button {
  background-color: #eee;
  margin-left: 60%;
}

/* line 15, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/users.scss.erb */
#save_button .link_button {
  background-color: #1e9699;
  width: 120px;
  height: 40px;
  font-size: 25px;
  color: #eee;
  letter-spacing: 3px;
  text-shadow: #333 0.1em 0.1em 0.1em;
}

/* line 25, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/users.scss.erb */
#save_button .link_button:hover {
  background-color: #197d7f;
  color: white;
}

/* line 30, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/users.scss.erb */
.user_new_picks {
  margin-bottom: -30px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 18, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
body {
  background-color: #eee;
  color: #222;
  font-family: sans-serif;
}

/* line 28, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
td {
  padding: 15px;
}

/* hidden is for visit home nil values for existing pick chart */
/* line 33, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.hidden {
  display: none;
}

/* line 37, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.hide {
  display: none;
}

/* line 41, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
input.login_email {
  height: 40px;
  font-size: 20px;
  padding-left: 5px;
  margin-bottom: 15px;
}

/* line 48, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
input.login_password {
  height: 40px;
  font-size: 20px;
  padding-left: 5px;
  margin-bottom: 15px;
}

/* line 55, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
input.login_button {
  height: 40px;
  width: 100px;
  background-color: #329932;
  font-size: 20px;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  text-shadow: #333 0.1em 0.1em 0.1em;
}

/* line 66, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.header {
  /* display: inline-block; */
}

/* line 70, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.ctr {
  text-align: center;
}

/* line 74, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* line 79, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.right {
  position: absolute;
  top: 55px;
  right: 50px;
}

/* line 85, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/application.scss.erb */
.left {
  position: absolute;
  top: 40px;
  left: 50px;
}
