/* Place all the styles related to the Chart controller here.
* They will automatically be included in application.css.
* You can use Sass (SCSS) here: http://sass-lang.com/
*/
/* line 7, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input.t_field {
  width: 30px;
}

/* line 11, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
div {
  display: inline;
}

/* line 15, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.pick_hide {
  color: red;
  display: none;
}

/* line 20, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.clicky {
  cursor: pointer;
  background-color: #CCC;
}

/* line 25, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.pc_hide {
  color: blue;
  cursor: pointer;
}

/* line 30, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
td input[type="radio"] {
  background-color: orange;
  border-color: red;
}

/* line 35, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
td input:checked {
  background-color: #A1EFB4;
}

/* line 39, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
td input[disabled] {
  display: none;
}

/* line 43, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart_picks tr:nth-child(even) {
  background: #d5ecef;
}

/* line 47, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart_picks tr:nth-child(odd) {
  background: #e8edf6;
}

/* line 51, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart_picks tr:nth-child(1) {
  background: #d5ecef;
}

/* .new_chart_picks tr:nth-last-child(1){
	background: red;
} */
/* line 59, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart {
  margin-left: auto;
  margin-right: auto;
}

/* line 64, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.old_chart {
  margin-left: auto;
  margin-right: auto;
}

/* line 69, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart tr:nth-child(even) {
  background: #d5ecef;
}

/* line 73, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart tr:nth-child(odd) {
  background: #e8edf6;
}

/* line 77, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart tr:nth-child(1) {
  background: #d5ecef;
}

/* .new_chart tr:nth-last-child(1){
	background: red;
} */
/* placeholder brown  #663e00  */
/* line 87, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
::-webkit-input-placeholder {
  color: #AAA;
}

/* line 90, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input:focus::-webkit-input-placeholder {
  color: #fff6e7;
}

/* line 93, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
:-ms-input-placeholder {
  color: #AAA;
}

/* line 96, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input:focus:-ms-input-placeholder {
  color: #fff6e7;
}

/* line 99, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
::-moz-placeholder {
  color: #AAA;
}

/* line 102, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input:focus::-moz-placeholder {
  color: #fff6e7;
}

/* line 105, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
:-moz-placeholder {
  color: #AAA;
}

/* line 108, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input:focus:-moz-placeholder {
  color: #fff6e7;
}

/* line 112, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.wk > input {
  height: 30px;
  width: 62px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ffedd0;
  border: solid 2px #7f7059;
  font-size: 20px;
  color: #111;
}

/* line 123, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.wk > input:hover {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 129, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.wk > input:focus {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 135, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.teams > input {
  height: 30px;
  width: 197px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ffedd0;
  border: solid 2px #7f7059;
  font-size: 20px;
  color: #111;
}

/* line 146, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.teams > input:hover {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 152, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.teams > input:focus {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 158, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.rec > input {
  height: 30px;
  width: 100px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ffedd0;
  border: solid 2px #7f7059;
  font-size: 20px;
  color: #111;
}

/* line 169, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.rec > input:hover {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 175, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.rec > input:focus {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 181, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gametime > input {
  height: 30px;
  width: 145px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ffedd0;
  border: solid 2px #7f7059;
  font-size: 20px;
  color: #111;
}

/* line 192, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gametime > input:hover {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 199, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gametime > input:focus {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 205, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.wk_header {
  width: 46px;
}

/* line 209, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.team_header {
  width: 179px;
}

/* line 213, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.rec_header {
  width: 83px;
}

/* line 217, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gametime_header {
  width: 126px;
}

/* line 221, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
section #new_pc {
  margin-top: -15px;
  border: solid 5px #AAA;
  background: #AAA;
  display: inline-block;
}

/* line 228, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input[type=submit] {
  padding: 5px 15px;
  background: #eee;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #888;
}

/* line 238, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input[type=submit]:hover {
  padding: 5px 15px;
  background: #fff;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #666;
}

/* line 248, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.week_table {
  width: 41px;
  border: solid 2px white;
}

/* line 253, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.team_table {
  width: 175px;
  border: solid 2px white;
}

/* line 258, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.record {
  width: 79px;
  border: solid 2px white;
}

/* line 263, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gtime_table {
  width: 150px;
  border: solid 2px white;
}

/* line 268, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.old_chart {
  background-color: #ebefd6;
  /* #e0dfb2; */
  opacity: 0.9;
  color: #8b5d2e;
}

/* line 274, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.old_chart tr:nth-child(even) {
  background: #f6f1e8;
  /* #d6ebef; */
}

/* line 278, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.dim {
  color: #555;
}

/* line 282, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.buttonGrey {
  color: #333;
  cursor: pointer;
}

/* line 287, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.game_text {
  display: table-cell;
}

/* line 291, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.game_form {
  display: none;
}

/* line 295, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.EDchart > input {
  font-size: 15px;
  max-width: 30px;
  max-height: 20px;
}

/* line 300, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.EDchart {
  background: #FF6666;
  padding: 10px 15px 10px 15px;
  border: 3px solid black;
}

/* line 306, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.EDteams > input {
  max-width: 140px;
}

/* line 309, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.EDgametime > input {
  max-width: 120px;
}
