/* Place all the styles related to the Chart controller here.
* They will automatically be included in application.css.
* You can use Sass (SCSS) here: http://sass-lang.com/
*/
/* line 7, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input.t_field {
  width: 30px;
}

/* line 11, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
div {
  display: inline;
}

/* line 15, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.pick_hide {
  color: red;
  display: none;
}

/* line 20, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.clicky {
  cursor: pointer;
  background-color: #CCC;
}

/* line 25, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.pc_hide {
  color: blue;
  cursor: pointer;
}

/* line 30, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
td input[type="radio"] {
  background-color: orange;
  border-color: red;
}

/* line 35, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
td input:checked {
  background-color: #A1EFB4;
}

/* line 39, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
td input[disabled] {
  display: none;
}

/* line 43, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
#minimum_width {
  min-width: 1050px;
  max-width: 1050px;
  min-height: 1px;
  display: block;
}

/* line 50, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart_picks tr:nth-child(even) {
  background: #d5ecef;
}

/* line 54, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart_picks tr:nth-child(odd) {
  background: #e8edf6;
}

/* line 58, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart_picks tr:nth-child(1) {
  background: #d5ecef;
}

/* .new_chart_picks tr:nth-last-child(1){
	background: red;
} */
/* line 66, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart {
  margin-left: 25px;
  /* margin-right: auto; */
  width: 1050px;
}

/* line 72, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.old_chart {
  margin-left: auto;
  margin-right: auto;
}

/* line 77, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart tr:nth-child(even) {
  background: #d5ecef;
}

/* line 81, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart tr:nth-child(odd) {
  background: #e8edf6;
}

/* line 85, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.new_chart tr:nth-child(1) {
  background: #d5ecef;
}

/* .new_chart tr:nth-last-child(1){
	background: red;
} */
/* placeholder brown  #663e00  */
/* line 95, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
::-webkit-input-placeholder {
  color: #AAA;
}

/* line 98, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input:focus::-webkit-input-placeholder {
  color: #fff6e7;
}

/* line 101, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
:-ms-input-placeholder {
  color: #AAA;
}

/* line 104, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input:focus:-ms-input-placeholder {
  color: #fff6e7;
}

/* line 107, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
::-moz-placeholder {
  color: #AAA;
}

/* line 110, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input:focus::-moz-placeholder {
  color: #fff6e7;
}

/* line 113, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
:-moz-placeholder {
  color: #AAA;
}

/* line 116, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input:focus:-moz-placeholder {
  color: #fff6e7;
}

/* line 120, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.wk > input {
  height: 30px;
  width: 58px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ffedd0;
  border: solid 2px #7f7059;
  font-size: 20px;
  color: #111;
}

/* line 131, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.wk > input:hover {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 137, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.wk > input:focus {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 143, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.teams > input {
  height: 30px;
  width: 190px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ffedd0;
  border: solid 2px #7f7059;
  font-size: 20px;
  color: #111;
}

/* line 154, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.teams > input:hover {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 160, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.teams > input:focus {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 166, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.rec > input {
  height: 30px;
  width: 92px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ffedd0;
  border: solid 2px #7f7059;
  font-size: 20px;
  color: #111;
}

/* line 177, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.rec > input:hover {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 183, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.rec > input:focus {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 189, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gametime > input {
  height: 30px;
  width: 170px;
  margin-right: 15px;
  padding-left: 3px;
  padding-right: 3px;
  background: #ffedd0;
  border: solid 2px #7f7059;
  font-size: 20px;
  color: #111;
}

/* line 201, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gametime > input:hover {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 208, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gametime > input:focus {
  background: #fff6e7;
  border: solid 2px #7f7059;
  font-size: 20px;
}

/* line 214, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.wk_header {
  width: 46px;
}

/* line 218, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.team_header {
  width: 155px;
}

/* line 222, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.rec_header {
  width: 75px;
}

/* line 226, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gametime_header {
  width: 126px;
}

/* line 230, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.blank_header {
  width: 50px;
  background: #eee;
}

/* line 235, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
section #new_pc {
  margin-top: -15px;
  margin-left: 30px;
  border: solid 5px #AAA;
  background: #AAA;
  width: 1050px;
  text-align: left;
}

/* line 244, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input[type=submit] {
  padding: 5px 15px;
  background: #eee;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #888;
}

/* line 254, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
input[type=submit]:hover {
  padding: 5px 15px;
  background: #fff;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #666;
}

/* line 264, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.week_table {
  width: 41px;
  border: solid 2px white;
}

/* line 269, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.team_table {
  width: 175px;
  border: solid 2px white;
}

/* line 274, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.record {
  width: 79px;
  border: solid 2px white;
}

/* line 279, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.gtime_table {
  width: 150px;
  border: solid 2px white;
}

/* line 284, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.old_chart {
  background-color: #ebefd6;
  /* #e0dfb2; */
  opacity: 0.9;
  color: #8b5d2e;
}

/* line 290, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.old_chart tr:nth-child(even) {
  background: #f6f1e8;
  /* #d6ebef; */
}

/* .dim {
	color: #555;
} */
/* line 298, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
h4.dimm {
  color: #555;
}

/* line 302, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.buttonGrey {
  color: #333;
  cursor: pointer;
}

/* line 307, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.game_text {
  display: table-cell;
}

/* line 311, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.game_form {
  display: none;
}

/* line 315, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.EDchart > input {
  font-size: 15px;
  max-width: 30px;
  max-height: 20px;
}

/* line 320, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.EDchart {
  background: #FF6666;
  padding: 10px 15px 10px 15px;
  border: 3px solid black;
}

/* line 326, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.EDteams > input {
  max-width: 140px;
}

/* line 329, /Users/gorey/Desktop/June_2016/May_2016/April_2016/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/charts.scss.erb */
.EDgametime > input {
  max-width: 120px;
}
