/* line 1, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
#no_scroll {
  height: 100%;
  overflow: hidden;
}

/* line 4, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_row {
  color: black;
}

/* line 8, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_row td {
  border: 2px solid #222;
  padding: 2px 3px 2px 2px;
  /* top right bottom left */
  text-align: center;
}

/* line 14, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.gray {
  color: #777;
  background: #e5e5ff;
  text-align: center;
  font-style: italic;
  width: 117px;
}

/* line 22, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
#horiz_overflow_standing {
  /* border: 3px solid #444; */
  max-width: 90%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline-block;
}

/* line 31, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
#vert_overflow {
  /* border: 3px solid #444; */
  max-height: 200px;
  /* margin-bottom: -5px; raises placement of TOTAL */
  /* width: 150%;  this needs to be flexible - via JS */
  /* based on the width of the header and footer*/
  overflow-y: scroll;
  /* overflow-x: hidden; */
  white-space: nowrap;
  display: inline-block;
  /* margin-bottom: 10px;*/
}

/* line 45, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_table {
  display: inline-block;
  margin-left: 5px;
  margin-right: 7px;
}

/* line 51, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_header {
  display: inline-block;
  /* text-align: center; */
  margin-left: 10px;
  margin-right: 10px;
}

/* line 58, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_name {
  text-align: center;
}

/* line 62, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_footer {
  display: inline-block;
  margin-left: 13px;
  margin-right: 13px;
  margin-bottom: 15px;
  width: 180px;
  text-align: center;
}

/* line 71, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_winloss {
  display: block;
  padding-left: 1px;
  padding-right: 1px;
}

/* line 77, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.green {
  background: #b2e8b2;
  width: 22px;
}

/* line 82, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.red {
  background: #ffb2b2;
  width: 22px;
}

/* line 87, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.gray_tot {
  color: #333;
  background: #ddd;
  text-align: center;
  font-style: italic;
  width: 117px;
}

/* line 95, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.green_tot {
  background: #cce5cc;
  width: 22px;
}

/* line 100, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.red_tot {
  background: #ffcccc;
  width: 22px;
}

/* line 105, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.win {
  color: #4cb7b7;
}

/* line 117, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.pale {
  opacity: .3;
}

/* line 121, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.header_row th {
  /*text-align: center;*/
  font-size: 15pt;
  padding-bottom: 4px;
}

/* line 127, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.header_row {
  border: 2px solid #222;
  padding: 2px 3px 2px 2px;
  /* top right bottom left */
  text-align: center;
}

/* line 133, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.header_table {
  display: inline-block;
  margin-left: 9px;
  margin-right: 7px;
  border: 5px solid #999;
}

/* line 140, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
td.win_loss_wk {
  /*border: 2px solid #222; */
  padding: 0px 0px 0px 0px;
  /* top right bottom left */
  width: 104px;
}

/* line 146, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
td.win_loss {
  /* border: 2px solid #222; */
  padding: 0px 0px 0px 0px;
  /* top right bottom left */
  width: 35px;
}

/* line 152, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
footer.scrolly {
  margin-bottom: 20px;
}
