/* line 1, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
#no_scroll {
  height: 100%;
  overflow: hidden;
}

/* line 4, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_row {
  color: black;
}

/* line 9, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_row td {
  border: 2px solid #222;
  padding: 2px 5px 2px 5px;
  /* top right bott left */
  text-align: center;
}

/* line 15, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.gray {
  color: #777;
  background: #e5e5ff;
  font-style: italic;
}

/* line 21, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
#horiz_overflow_standing {
  /* border: 3px solid #444; */
  width: 95%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline-block;
}

/* line 31, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
#vert_overflow {
  /* border: 3px solid #444; */
  height: 200px;
  width: 110%;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  white-space: nowrap;
  display: inline-block;
  /* margin-bottom: 10px;*/
}

/* line 43, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_table {
  display: inline-block;
}

/* line 47, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_header {
  display: inline-block;
}

/* line 51, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_footer {
  display: inline-block;
}

/* line 55, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_winloss {
  display: block;
}

/* line 59, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.green {
  background: #b2e8b2;
}

/* line 63, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.red {
  background: #ffb2b2;
}

/* line 67, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.win {
  color: #4cb7b7;
}
