/* line 1, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
#no_scroll {
  height: 100%;
  overflow: hidden;
}

/* line 4, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_row {
  color: black;
}

/* line 8, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_row td {
  border: 2px solid #222;
  padding: 2px 5px 2px 5px;
  /* top right bottom left */
  text-align: center;
}

/* line 14, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.gray {
  color: #777;
  background: #e5e5ff;
  font-style: italic;
}

/* line 20, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
#horiz_overflow_standing {
  /* border: 3px solid #444; */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline-block;
}

/* line 28, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
#vert_overflow {
  /* border: 3px solid #444; */
  height: 200px;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  white-space: nowrap;
  display: inline-block;
  /* margin-bottom: 10px;*/
}

/* line 40, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_table {
  display: inline-block;
}

/* line 44, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_header {
  display: inline-block;
  width: 171px;
  text-align: center;
}

/* line 50, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_name {
  text-align: center;
}

/* line 54, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_footer {
  display: inline-block;
  /* 	margin-left: 3px; */
  /*	margin-right: 3px; */
  /*	padding-left: 10px; */
  /*	padding-right: 10px; */
  margin-bottom: 15px;
  width: 171px;
  text-align: center;
}

/* line 65, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.standing_winloss {
  display: block;
  padding-left: 1px;
  padding-right: 1px;
}

/* line 71, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.green {
  background: #b2e8b2;
}

/* line 75, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.red {
  background: #ffb2b2;
}

/* line 79, /Users/gorey/Desktop/12_Nov_2015/fant_sports/football_picks/app/assets/stylesheets/standing.scss.erb */
.win {
  color: #4cb7b7;
}
