<h1>USERS STANDING INDEX</h1>
<%= link_to ("HOME"), "/users", method: :get %>

<h3> rem users / standing /:id as possibility - SHOW</h3>
<h4> index should list standings of all players</h4>

<% if @standings %>
<%= render partial: "chart", locals: {standings: @standings, standing_users: @standing_users} %>
<% end %>

<br>
<br>
<br>