<%= link_to ("HOME"), "/users", method: :get %>
<h2>USERS STANDING INDEX - scroll on chart to see other weeks (or players)</h2>
<br>

<% if @standings %>
<%= render partial: "chart", locals: {standings: @standings, standing_users: @standing_users} %>
<% end %>

<br>
<br>
<br>