// Place all the styles related to the Chart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.t_field{
	width: 30px;
}

div {
	display: inline;
}

.pick_hide{
	color: red;
	display: none;
}

.clicky{
	cursor: pointer;
	background-color: #CCC;
}

.pc_hide{
	color: blue;
	cursor: pointer;
}

td input:checked{
	background-color: #A1EFB4;
}

tr:nth-child(even) {
	background: #EEE;
}