<%= stylesheet_link_tag  "standing" %>
<div id="no_scroll">

	<%= link_to ("HOME"), "/admin", method: :get %><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<%= link_to ("WINS"), "/admin/wins", method: :get %>

	<h2>STANDING - INDEX - scroll on chart to see other weeks (or players)</h2>

	<% if @standings %>
	<%= render partial: "chart", locals: {standings: @standings, standing_users: @standing_users} %>
	<% end %>

	<br>
	<div class="vertical_wrapper">
		<div class="fixed"> sdfsdf</div>
		<div class="vertical">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
			<br>
			Ad dolore dignissimos asperiores dicta facere optio quod commodi nam tempore recusandae. Rerum sed nulla eum vero expedita ex delectus voluptates rem at neque quos facere sequi unde optio aliquam!
			<br>
			Tenetur quod quidem in voluptatem corporis dolorum dicta sit pariatur porro quaerat autem ipsam odit quam beatae tempora quibusdam illum! Modi velit odio nam nulla unde amet odit pariatur at!
			<br>
			Consequatur rerum amet fuga expedita sunt et tempora saepe? Iusto nihil explicabo perferendis quos provident delectus ducimus necessitatibus reiciendis optio tempora unde earum doloremque commodi laudantium ad nulla vel odio?
		</div>
		<div class="fixed2"> sdfsdf</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>

</div> <!-- end of no_scroll -->
